.card{
    margin-top: 120px;
    width: 424px;
    margin-left: 312px;
    border-color: black;
    border-width: 1px;
    background-color: snow;

}

#btnSesion{
    margin-left: 152px;
}

#previa{
    text-decoration: none;
    color: #1b6a45;
    border-radius: 2px;
}

#previa:hover{
    background-color: #1b6a45;
    color: white;
    border-radius: 2px;
}

.card-header{
    background-color: #198754;
    color: white;
}


label{
    padding: 2px;
}
